<div class="p-8">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Seja Bem-vindo(a) ao Sistema Help Desk</mat-card-title>
            <mat-card-subtitle>
                Você está na área administrativa/principal.
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="mt-4">
            <p>Olá, <strong>{{ nomeUsuario }}</strong>!</p>
            <p>O desenvolvimento da API e do Frontend para o projeto de Estágio Supervisionado 2 está avançando conforme o planejado. Utilize o menu lateral para gerenciar Técnicos, Clientes e Chamados.</p>
        </mat-card-content>
    </mat-card>
</div>